@charset "utf-8";

body {
  background-color: rgb(43, 42, 42);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h1 {
  color: blueviolet;
  background-color: antiquewhite;
}
h2 {
  color: red;
}
p {
  text-align: justify;
  color: antiquewhite;
}
a {
    color: antiquewhite;
}